/* 
    //To bring brand in center
    .navbar-header{
    padding: 10px;
    text-align: center;
    width: 100%;
    
}
.navbar-brand{
    float: none;
}
*/
body{
     padding-top: 50px;
    
}

.navbar{
    background-color:#39b97e;
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  color: black;
}

nav a:hover{
    color: black;
}
.nav>li>a:hover{
    background-color: transparent;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}

.navbar-brand {
  font-size: 30px;
}
nav.navbar.shrink {
  min-height: 35px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}

/* Vivek */

.img1, .img2, .img3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1 {
  background-image: url(../img/image1.jpeg);
  min-height: 400px;
}

.img2 {
  background-image: url(../img/image2.jpeg);
  min-height: 400px;
}

.img3 {
  background-image: url(../img/image3.jpg);
  min-height: 500px;
}

.img4 {
  background-image: url(../img/img4.jpg);
  min-height: 200px;
  background-repeat: no-repeat;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-part1 {
  background-color: #39b97e;
  /* opacity: 0.40; */

}

.section-part2 {
  background-color: #39b97e;
  /* opacity: 0.40; */
}

.section-part3 {
  background-color: #39b97e;
  padding-bottom: 10px;
  /* opacity: 0.40; */
}

.text1 {
  color: black;
  font-style: italic;
  font-family: sans-serif;
}
.hi{
    min-height: 600px;
}
.ho{
    min-height: 500px;
}
  
a{
  color: whitesmoke;
}
#text12{
  font-size: 1.2em;
}
.icon-bar{
  background-color: black;

}  